#scoreboard {
	background-color: darkslategrey;
	border: solid black;
	color: whitesmoke;
	-moz-border-radius-bottomright: 35px;
	-webkit-border-bottom-right-radius: 35px;
	border-bottom-right-radius: 35px;
	-moz-border-radius-bottomleft: 25px;
	-webkit-border-bottom-left-radius: 25px;
	border-bottom-left-radius: 25px;
/*	min-width: 320px;
	min-height: 210px;*/
	position: fixed;
	display: none;
	/*background-image: url(../images/goal.png);*/
	background-size: 100%;
	background-repeat: no-repeat;
}
.scoreboard-header {
	background: maroon;
	padding: 9px 15px;
	border-bottom: 1px solid #eee;
}
#goal-notification{
	display: none;
}
#card-notification{
	display: none;
}
.ball-icon {
	margin-top: -10px;
}

.text-stroke {
	-webkit-text-stroke: 3.1px #120303;
	-webkit-text-fill-color: #FFFFFF;
	font-size: 65px;
	font-family: fantasy;
}

.scoreboard-body{
	padding: 15px;
	padding-right: 20px;
}
.scoreboard-body .row-fluid{
	padding-top: 5px;
	
}
.row-time {
	padding-top: 15px;
}

#x {
	padding: 10px;
	float: left;
	text-align: center;
	font-size: 28px;	
}
.col1{
	width: 30px;
	margin-left: 5px;
	float:left;

}
.col2{
	width: 65px;
	margin-left: 30px;
	float:left;

}
.col3{
	width: 100px;
	margin-left: 5px;
	float:left;
}

.scoreboard-badge{
	background: #14843a;
	border-radius: 10px;
	-moz-box-shadow: 1px 1px 8px rgb(114, 108, 108), inset 1px 1px 8px black;
	-webkit-box-shadow: 1px 1px 8px rgb(114, 108, 108), inset 1px 1px 8px black;
	box-shadow: 1px 1px 8px rgb(114, 108, 108), inset 1px 1px 8px black;
}
.scoreboard-badge-right{
	margin: 0px;
}

#card-notification .stripes{
	display: table;
	position: relative;
	margin-left: 30px;
	margin-right: 0;
	margin-top: 0;
	font-size: 35px;
	line-height: 45px;
	width: 270px;
	min-height: 90px;
}

.center-text {
	 display: table-cell;
    vertical-align: middle;
}

.ne {
	right: 2.5%;
	top: 2.5%
}
.se {
	right: 2.5%;
	bottom: 2.5%
}
.sw {
	left: 2.5%;
	bottom: 2.5%
}
.nw {
	left: 2.5%;
	top: 2.5%
}

.move {
	-webkit-transition: all 1000ms cubic-bezier(0.680, 0, 0.265, 1); /* older webkit */
	-webkit-transition: all 1000ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
	-moz-transition: all 1000ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
	-ms-transition: all 1000ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
	-o-transition: all 1000ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
	transition: all 1000ms cubic-bezier(0.680, -0.550, 0.265, 1.550); /* easeInOutBack */
	-webkit-transition-timing-function: cubic-bezier(0.680, 0, 0.265, 1); /* older webkit */
	-webkit-transition-timing-function: cubic-bezier(0.680, -0.550, 0.265, 1.550);
	-moz-transition-timing-function: cubic-bezier(0.680, -0.550, 0.265, 1.550);
	-ms-transition-timing-function: cubic-bezier(0.680, -0.550, 0.265, 1.550);
	-o-transition-timing-function: cubic-bezier(0.680, -0.550, 0.265, 1.550);
	transition-timing-function: cubic-bezier(0.680, -0.550, 0.265, 1.550); /* easeInOutBack */
}


		.stripes {

			width: 350px;
			float: left;
			
			margin: 15px;
			
			-webkit-animation: moving 400s ease infinite;
     		-moz-animation: moving 400s ease infinite;
      		-o-animation: moving 400s ease infinite;
          	animation: moving 400s ease infinite;

			-webkit-background-size: 50px 50px;
			-moz-background-size: 50px 50px;
			background-size: 50px 50px; /* Controls the size of the stripes */
			
			-moz-box-shadow: 1px 1px 8px rgb(114, 108, 108), inset 1px 1px 8px black;
			-webkit-box-shadow: 1px 1px 8px rgb(114, 108, 108), inset 1px 1px 8px black;
			box-shadow: 1px 1px 8px rgb(114, 108, 108), inset 1px 1px 8px black;

		}
		
		.angled {
			background-color: #14843a;
			background-image: -webkit-gradient(linear, 0 100%, 100% 0,
									color-stop(.25, rgba(255, 255, 255, .2)), color-stop(.25, transparent),
									color-stop(.5, transparent), color-stop(.5, rgba(255, 255, 255, .2)),
									color-stop(.75, rgba(255, 255, 255, .2)), color-stop(.75, transparent),
			 						to(transparent));
			background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
								transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
								transparent 75%, transparent);
			background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
								transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
								transparent 75%, transparent);
			background-image: -ms-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
								transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
								transparent 75%, transparent);
			background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
								transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
								transparent 75%, transparent);
			background-image: linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
								transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
								transparent 75%, transparent);
		}
		
		.angled-135 {
			background-color: #c16;
			background-image: -webkit-gradient(linear, 0 0, 100% 100%,
									color-stop(.25, rgba(255, 255, 255, .2)), color-stop(.25, transparent),
									color-stop(.5, transparent), color-stop(.5, rgba(255, 255, 255, .2)),
									color-stop(.75, rgba(255, 255, 255, .2)), color-stop(.75, transparent),
			 						to(transparent));
			background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
								transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
								transparent 75%, transparent);
			background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
								transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
								transparent 75%, transparent);
			background-image: -ms-linear-gradient(-45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
								transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
								transparent 75%, transparent);
			background-image: -o-linear-gradient(-45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
								transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
								transparent 75%, transparent);
			background-image: linear-gradient(-45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
								transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
								transparent 75%, transparent);
		}
		
		.horizontal {
			background-color: #14843a;
			background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(.5, rgba(255, 255, 255, .2)), color-stop(.5, transparent), to(transparent));
			background-image: -webkit-linear-gradient(rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
			background-image: -moz-linear-gradient(rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
			background-image: -ms-linear-gradient(rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
			background-image: -o-linear-gradient(rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
			background-image: linear-gradient(rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
		}
		
		.vertical {
			background-color: #14843a;
			background-image: -webkit-gradient(linear, 0 0, 100% 0, color-stop(.5, rgba(255, 255, 255, .2)), color-stop(.5, transparent), to(transparent));
			background-image: -webkit-linear-gradient(0deg, rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
			background-image: -moz-linear-gradient(0deg, rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
			background-image: -ms-linear-gradient(0deg, rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
			background-image: -o-linear-gradient(0deg, rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
			background-image: linear-gradient(0deg, rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);

		}
		
		.checkered {
			background-image: -webkit-gradient(linear, 0 0, 100% 100%, color-stop(.25, #555), color-stop(.25, transparent), to(transparent)),
							  -webkit-gradient(linear, 0 100%, 100% 0, color-stop(.25, #555), color-stop(.25, transparent), to(transparent)),
							  -webkit-gradient(linear, 0 0, 100% 100%, color-stop(.75, transparent), color-stop(.75, #555)),
			  				  -webkit-gradient(linear, 0 100%, 100% 0, color-stop(.75, transparent), color-stop(.75, #555));
			background-image: -webkit-linear-gradient(45deg, #555 25%, transparent 25%, transparent),
							  -webkit-linear-gradient(-45deg, #555 25%, transparent 25%, transparent),
							  -webkit-linear-gradient(45deg, transparent 75%, #555 75%),
			  				  -webkit-linear-gradient(-45deg, transparent 75%, #555 75%);
			background-image: -moz-linear-gradient(45deg, #555 25%, transparent 25%, transparent),
							  -moz-linear-gradient(-45deg, #555 25%, transparent 25%, transparent),
							  -moz-linear-gradient(45deg, transparent 75%, #555 75%),
			  				  -moz-linear-gradient(-45deg, transparent 75%, #555 75%);
			background-image: -ms-linear-gradient(45deg, #555 25%, transparent 25%, transparent),
							  -ms-linear-gradient(-45deg, #555 25%, transparent 25%, transparent),
							  -ms-linear-gradient(45deg, transparent 75%, #555 75%),
			  				  -ms-linear-gradient(-45deg, transparent 75%, #555 75%);
			background-image: -o-linear-gradient(45deg, #555 25%, transparent 25%, transparent),
							  -o-linear-gradient(-45deg, #555 25%, transparent 25%, transparent),
							  -o-linear-gradient(45deg, transparent 75%, #555 75%),
			  				  -o-linear-gradient(-45deg, transparent 75%, #555 75%);
			background-image: linear-gradient(45deg, #555 25%, transparent 25%, transparent),
							  linear-gradient(-45deg, #555 25%, transparent 25%, transparent),
							  linear-gradient(45deg, transparent 75%, #555 75%),
			  				  linear-gradient(-45deg, transparent 75%, #555 75%);
		}
		
		.picnic {
			background-color:white;
			background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(.5, transparent), color-stop(.5, rgba(200, 0, 0, .5)), to(rgba(200, 0, 0, .5))),
							  -webkit-gradient(linear, 0 0, 100% 0, color-stop(.5, transparent), color-stop(.5, rgba(200, 0, 0, .5)), to(rgba(200, 0, 0, .5)));
			background-image: -webkit-linear-gradient(transparent 50%, rgba(200, 0, 0, .5) 50%, rgba(200, 0, 0, .5)),
					    -webkit-linear-gradient(0deg, transparent 50%, rgba(200, 0, 0, .5) 50%, rgba(200, 0, 0, .5));
			background-image: -moz-linear-gradient(transparent 50%, rgba(200, 0, 0, .5) 50%, rgba(200, 0, 0, .5)),
					    -moz-linear-gradient(0deg, transparent 50%, rgba(200, 0, 0, .5) 50%, rgba(200, 0, 0, .5));
			background-image: -ms-linear-gradient(transparent 50%, rgba(200, 0, 0, .5) 50%, rgba(200, 0, 0, .5)),
					    -ms-linear-gradient(0deg, transparent 50%, rgba(200, 0, 0, .5) 50%, rgba(200, 0, 0, .5));
			background-image: -o-linear-gradient(transparent 50%, rgba(200, 0, 0, .5) 50%, rgba(200, 0, 0, .5)),
					    -o-linear-gradient(0deg, transparent 50%, rgba(200, 0, 0, .5) 50%, rgba(200, 0, 0, .5));
			background-image: linear-gradient(transparent 50%, rgba(200, 0, 0, .5) 50%, rgba(200, 0, 0, .5)),
					    linear-gradient(0deg, transparent 50%, rgba(200, 0, 0, .5) 50%, rgba(200, 0, 0, .5));
		}
		

.metal.linear {

background-image: -webkit-repeating-linear-gradient(left, hsla(0, 6%, 68%, 0) 0%, hsla(0, 15%, 78%, 0) 6%, hsla(0, 10%, 20%, 0.1) 7.5%), -webkit-repeating-linear-gradient(left, hsla(0, 14%, 71%, 0) 0%, hsla(0, 2%, 41%, 0) 4%, hsla(0, 9%, 61%, 0.03) 4.5%), -webkit-repeating-linear-gradient(left, hsla(0,0%,100%,0) 0%, hsla(0, 3%, 58%, 0) 1.2%, hsla(0, 0%, 49%, 0.15) 2.2%), linear-gradient(180deg, hsl(0,0%,78%) 0%, hsl(0, 0%, 87%) 47%, hsl(0, 0%, 66%) 53%, hsl(0, 2%, 23%)100%);
}
.metal {
	position: relative;
	text-align: center;
	color: hsla(0,0%,20%,1);
	text-shadow: hsla(0, 0%, 0%, 0.5) 0 -1px 0, hsla(0, 0%, 62%, 0.6) 0 2px 1px;
	background-color: hsl(0,0%,90%);
	box-shadow: inset hsla(0,0%,15%, 1) 0 0px 0px 4px, /* border */ inset hsla(0,0%,15%, .8) 0 -1px 5px 4px, /* soft SD */ inset hsla(0,0%,0%, .25) 0 -1px 0px 7px, /* bottom SD */ inset hsla(0,0%,100%,.7) 0 2px 1px 7px, /* top HL */ hsla(0,0%, 0%,.15) 0 -5px 6px 4px;
	transition: color .2s;
}
