body {
  background-color : #002b5e;
  color: #D9D4C7;
/*  width: 2180px;
  height: 720px;*/
  
}

#wrapper {
  margin : 0 auto;
  padding : 20px;
  width : 600px;
/*  background-color : #0B2126;*/
}

.carousel-control {
    display: none;
}

.btn-large {
font-size: 19.5px;
}

button #sound-img{
  background-image: url(../images/sound.png);
  background-size:100% 100%;
}

button.active #sound-img, button:active #sound-img{
  background-image: url(../images/no-sound.png);
}

.badge-icon{
margin: -5px 0 0px 5px;
}

.goal-icon{
  background-image: url(../images/goal.png);
  background-size:40px 40px;
}
.goal_own-icon{
  background-image: url(../images/goal_own.png);
  background-size:40px 40px;
}

img.ri
{
/*
    max-width: 80%;
	top: 10%;
	left: 10%;
	border-radius: 3px;
	box-shadow: 0 3px 6px rgba(0,0,0,0.9);
*/
}

img.ri:empty
{
	top: 50%;
	left: 50%;
}

@media screen and (orientation: portrait) {
  img.ri {
      max-width: 90%;
  }
}

@media screen and (orientation: landscape) {
  img.ri {
      max-height: 90%;
  }
}

#table{
	background-image: url(../images/tabela.png);
	left: 15%;
  top: 0;
	display: none;
	width: 950px;
	height: 560px;
  position: fixed;
}
.hero-unit h1 { 
  margin : 0 0 20px 0;
  color : #ededed;
  text-align : center;
  text-transform : uppercase;
  text-shadow: 1px 1px 0px #6B6B6B;
  letter-spacing : 2px;
  font-weight : bold;
  font-size : 86px;
  font-family : Arial, sans-serif;
  line-height : 1em;
  filter: dropshadow(color=#6B6B6B, offx=1, offy=1);
}

.hero-unit h2{
font-size : 26px;
    color:white;
    text-align: center;
    text-align : center;
    text-transform : uppercase;
    text-shadow: 1px 1px 0px #6B6B6B;
}

.player-group{
  margin-left: 7%;
}
.player-group .row-fluid [class*="span"] .btn{
-webkit-border-radius: 0px;
-moz-border-radius: 0px;
border-radius: 0px;
margin-left: 0;
max-height: 43px;
}

.player-group .btn-icon {
font-size: 30px;
left: -15px;
position: relative;
top: -5px;
}

.modal-body {
  overflow: visible !important;
}

.popover .form-actions, .popover form{
  margin-bottom : 0;
  padding: 9px 10px 10px;
}

#teams-button {min-height: 175px; max-height: 175px;}

@media (min-width: 1200px){
  .hero-unit h1 { font-size : 100px;}
  .hero-unit h2 { font-size : 36px;}
  #teams-button {min-height: 226px; max-height: 226px;}

}

@media (min-width: 768px) and (max-width: 979px) { 
  .hero-unit h1 { font-size : 65px;}
.hero-unit h2 { font-size : 20px;}
     .fs1 { font-size : 14px;}
     #teams-button {min-height: 122px; max-height: 122px;}

     .player-group .row-fluid [class*="span"] .btn:first-child{
  width: 85.872928% ;
  }
}
 
@media (max-width: 767px) {   
  .hero-unit h1 { font-size : 36px;}
  .hero-unit h2 { font-size : 36px;}
  #teams-button {min-height: 205px; max-height: 205px;}
  .player-group .row-fluid [class*="span"] .btn{

  float: left;
  display: block;
  width: 6.382978723404255%;
  }

.player-group .row-fluid [class*="span"] .btn:first-child{
  width: 82.872928% ;
  }

}
@media (max-width: 530px) { 
  .player-group .row-fluid [class*="span"] .btn:first-child{
    width: 75.978723% ;
  }

}

/* Landscape phones and down */
@media (max-width: 480px) { 
  .hero-unit h1 { font-size : 26px;}
  .hero-unit h2 { font-size : 36px;}
  #teams-button {min-height: 205px; max-height: 205px;}
  .player-group .row-fluid [class*="span"] .btn:first-child{
    width: 70.978723%;
  }

}

.fs2{
  font-size: 49px;
}
