
<div class="modal-header">
	<button type="button" class="close" ng-click="hide()" aria-hidden="true">×</button>
	<h3>Player Modal</h3>
</div>
<div class="modal-body" >
			<!-- <div class="btn-group-vertical-3d"> -->
			<div class="player-group" >
				<div class="row-fluid" ng-repeat="player in teamModal track by player.id">
					<div class="btn-group span12">
						<button class="btn btn-large btn-primary span10" btn-checkbox data-unique="1" btn-checkbox-true="{{player.id}}" btn-checkbox-false="false"
						ng-model="player.id">
						<div class="" aria-hidden="true">
							{{player.name}}
						</div>
					</button>
					<button class="btn btn-large span1" data-unique="1" data-placement="left" bs-popover="'popOver.html'" ng-controller="PopoverCtrl" ><span class="btn-icon" aria-hidden="true" data-icon=""></span>
					</button>
				</div>
			</div>

	<!-- </div> -->
</div>
</div>
<br/>
<div class="modal-footer">
	<button type="button" class="btn" ng-click="hide()">Fechar</button>
</div>

<!-- <button  class="btn btn-large btn-block btn-primary" btn-checkbox  btn-checkbox-true="{{team.id}}" btn-checkbox-false="false"
        ng-model="teams[team.id]">
        <div class="fs1" aria-hidden="true" >
         {{team.name}}
  		</div>
        </button>
         <button><div class="fs1" aria-hidden="true" data-icon=""></div></button>
         <button><div class="fs1" aria-hidden="true" data-icon=""></div></button> -->